//
// TYPOGRAPHY
//

// $include-html-type-classes: $include-html-classes;

// We use these to control header font styles
 $header-font-family: $body-font-family;
 $header-font-weight: 300;
 $header-font-style: normal;
 $header-font-color: #222;
 $header-line-height: 1.4;
 $header-top-margin: .2rem;
 $header-bottom-margin: .5rem;
 $header-text-rendering: optimizeLegibility;

// We use these to control header font sizes
 $h1-font-size: rem-calc(30);
 $h2-font-size: rem-calc(28);
 $h3-font-size: rem-calc(24);
 $h4-font-size: rem-calc(22);
 $h5-font-size: rem-calc(18);
 $h6-font-size: 1rem;

// These control how subheaders are styled.
 $subheader-line-height: 1.4;
 $subheader-font-color: scale-color($header-font-color, $lightness: 35%);
 $subheader-font-weight: 300;
 $subheader-top-margin: .2rem;
 $subheader-bottom-margin: .5rem;

// A general <small> styling
 $small-font-size: 60%;
 $small-font-color: scale-color($header-font-color, $lightness: 35%);

// We use these to style paragraphs
 $paragraph-font-family: inherit;
 $paragraph-font-weight: normal;
 $paragraph-font-size: 1rem;
 $paragraph-line-height: 1.6;
 $paragraph-margin-bottom: rem-calc(20);
 $paragraph-aside-font-size: rem-calc(14);
 $paragraph-aside-line-height: 1.35;
 $paragraph-aside-font-style: italic;
 $paragraph-text-rendering: optimizeLegibility;

// We use these to style <code> tags
// $code-color: scale-color($alert-color, $lightness: -27%);
// $code-font-family: Consolas, 'Liberation Mono', Courier, monospace;
// $code-font-weight: bold;

// We use these to style anchors
 $anchor-text-decoration: none;
 $anchor-font-color: $primary-color;
 $anchor-font-color-hover: scale-color($primary-color, $lightness: -14%);

// We use these to style the <hr> element
 $hr-border-width: 1px;
 $hr-border-style: solid;
 $hr-border-color: #ddd;
 $hr-margin: rem-calc(20);

// We use these to style lists
// $list-style-position: outside;
// $list-side-margin: 1.1rem;
// $list-ordered-side-margin: 1.4rem;
// $list-side-margin-no-bullet: 0;
// $list-nested-margin: rem-calc(20);
// $definition-list-header-weight: bold;
// $definition-list-header-margin-bottom: .3rem;
// $definition-list-margin-bottom: rem-calc(12);

// We use these to style blockquotes
 $blockquote-font-color: scale-color($header-font-color, $lightness: 35%);
 $blockquote-padding: rem-calc(9 20 0 19);
 $blockquote-border: 1px solid #ddd;
 $blockquote-cite-font-size: rem-calc(13);
 $blockquote-cite-font-color: scale-color($header-font-color, $lightness: 23%);
 $blockquote-cite-link-color: $blockquote-cite-font-color;

// Acronym styles
 $acronym-underline: 1px dotted #ddd;

